* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg, #0f0f0f, #1a1a1a);
  color: white;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #111;
}

.nav-links a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #5865F2;
}

/* HERO */

.hero {
  text-align: center;
  padding: 120px 20px;
}

.hero h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.hero p {
  color: #aaa;
  margin-bottom: 30px;
}

/* BUTTONS */

.btn {
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
  margin: 10px;
  transition: 0.3s;
}

.primary {
  background: #5865F2;
  color: white;
}

.secondary {
  border: 1px solid #5865F2;
  color: #5865F2;
}

.btn:hover {
  transform: scale(1.1);
}

/* SECTION */

.section {
  padding: 80px 40px;
  text-align: center;
}

.dark {
  background: #181818;
}

/* CARDS */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.card {
  background: #1f1f1f;
  padding: 20px;
  width: 250px;
  border-radius: 12px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  background: #252525;
}

/* COMMANDS */

.command-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-top: 30px;
}

.command-grid span {
  background: #1f1f1f;
  padding: 10px 20px;
  border-radius: 8px;
}

/* FOOTER */

footer {
  background: #111;
  text-align: center;
  padding: 20px;
  color: #777;
}
